<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>day</td>
            <td>Open Time</td>
            <td>Close Time</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>{{form.day1_open}} {{form.day1_open.errors}}</td>
            <td>{{form.day1_close}} {{form.day1_close.errors}}</td>
            <td>{{form.day1}}</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>{{form.day2_open}} {{form.day2_open.errors}}</td>
            <td>{{form.day2_close}} {{form.day2_close.errors}} </td>
            <td>{{form.day2}}</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>{{form.day3_open}}{{form.day3_open.errors}}</td>
            <td>{{form.day3_close}}{{form.day3_close.errors}}</td>
            <td>{{form.day3}}</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>{{form.day4_open}}{{form.day4_open.errors}}</td>
            <td>{{form.day4_close}}{{form.day4_close.errors}}</td>
            <td>{{form.day4}}</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>{{form.day5_open}}{{form.day5_open.errors}}</td>
            <td>{{form.day5_close}}{{form.day5_close.errors}}</td>
            <td>{{form.day5}}</td>
        </tr>
          <tr>
            <td>Saturday</td>
            <td>{{form.day6_open}}{{form.day6_open.errors}}</td>
            <td>{{form.day6_close}}{{form.day6_close.errors}}</td>
            <td>{{form.day6}}</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>{{form.day7_open}}{{form.day7_open.errors}}</td>
            <td>{{form.day7_close}}{{form.day7_close.errors}}</td>
            <td>{{form.day7}}</td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
</form>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var test;
    $('.dj_check').on("click",function(){
        console.log(this.checked);
        console.log($(this).parent().parent().children().eq(1).children().eq(1));
        test = $(this);
        if(this.checked){

            $(this).parent().parent().children().eq(1).children().eq(0).attr('required',false);
            $(this).parent().parent().children().eq(1).children().eq(0).attr('value','');
            $(this).parent().parent().children().eq(2).children().eq(0).attr('value','');

            $(this).parent().parent().children().eq(1).children().eq(0).attr('readonly',true);
        }else{
            $(this).parent().parent().children().eq(1).children().eq(0).attr('required',true);
            $(this).parent().parent().children().eq(1).children().eq(0).attr('value','09:00');
            $(this).parent().parent().children().eq(2).children().eq(0).attr('value','18:00');
            $(this).parent().parent().children().eq(1).children().eq(0).attr('readonly',false);
        }
    });
</script>
</html>