<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Here are all projects </h2>
    <div>
        <ul>
            {% for project in object_list %}
                <li>{{ project.name }}|
                </li>
            {% empty %}
                <li>No project yet.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'project-add' %}">add a project</a>
        </p>
    </div>
</body>
</html>