{% load static %}
<div class="col-md-4">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}

        <table class="table" border="1">
            {{ equipments.management_form }}

            {% for form in equipments.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle row1 row2 %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" style="padding:20px">нийт өртөг</td>
                <td id="sum_0_result"></td>
                <td id="sum_1_result"></td>
            </tr>
        </table>
        <input type="submit" value="Хадгалах"/>
        </br>
        <a href="{% url 'project-list' %}">back to the list</a>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<!--<script src="{% static 'admin/formset/jquery.formset.js' %}"></script>-->
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Төхөөрөмж нэмэх',
        deleteText: 'устгах',
        prefix: 'equipment_set'
    });

    $( "table" ).on("change",'.sum_0',function(){
        var sum_cost = 0;
        $( ".sum_0" ).each(function( index ) {
              if( !isNaN(parseFloat($( this ).val()))) {
                    sum_cost = sum_cost + parseFloat($( this ).val());
              }
        });
        $('#sum_0_result').text( sum_cost);

    });

    $( "table" ).on("change",'.sum_1',function(){
        var sum_cost = 0;
        $( ".sum_1" ).each(function( index ) {
            if( !isNaN(parseFloat($( this ).val()))) {
                sum_cost = sum_cost + parseFloat($( this ).val());
            }
        });
        $('#sum_1_result').text( sum_cost);
    });
</script>